<div class="central-textlogo" style="font-size: 1em;">
    <img class="central-featured-logo" src="portal/wikiquote.org/assets/img/Wikiquote-logo-1x.svg" srcset="portal/wikiquote.org/assets/img/Wikiquote-logo-1x.svg 1.5x, portal/wikiquote.org/assets/img/Wikiquote-logo-1x.svg 2x" width="180" height="183" alt="Wikiquote">
    <h1 class="central-textlogo-wrapper">
        <img src="//upload.wikimedia.org/wikipedia/meta/9/9e/Wikiquote_wordmark_1x.png" srcset="//upload.wikimedia.org/wikipedia/meta/e/e0/Wikiquote_wordmark_1.5x.png 1.5x, //upload.wikimedia.org/wikipedia/meta/d/d0/Wikiquote_wordmark_2x.png 2x" width="135" height="69" alt="Wikiquote">
    </h1>
</div>
